<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 value="제목" th:value="${post.title}">글 제목 뜨는 자리</h2>
    </div>

    <!-- 추가 -->

    <div>
        <label for="itemId">글 번호</label>
        <input type="text" id="itemId" name="itemId" class="form-control" value="1" th:value="${post.postId}" readonly>
    </div>
    <div>
        <label for="itemName">글 제목</label>
        <input type="text" id="itemName" name="itemName" class="form-control" value="상품A" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="price">작성일</label>
        <input type="text" id="price" name="price" class="form-control" value="10000" th:value="${post.createdAt}" readonly>
    </div>
    <div>
        <label for="quantity">내용</label>
        <input type="text" id="quantity" name="quantity" class="form-control" value="10" th:value="${post.content}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    type="button">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='posts.html'"
                    th:onclick="|location.href='@{/posts}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>