<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="${post.title}">자유 게시판</h2>
    </div>

    <form th:method="post">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end" style="background-color: crimson"
                        type="submit">삭제</button>
            </div>
        </div>
    </form>


    <!-- 추가 -->

    <div>
        <label for="id">글 번호</label>
        <input type="text" id="id" name="id" class="form-control" value="1" th:value="${post.getId}" readonly>
    </div>
    <div>
        <label for="postType">분류</label>
        <input type="text" id="postType" name="postType" class="form-control" value="분류" th:value="${post.postType.type}"
               readonly>
    </div>
    <div>
        <label for="member">작성자</label>
        <input type="text" id="member" name="member" class="form-control" value="작성자" th:value="${post.member.getNickname()}"
               readonly>
    </div>
    <div>
        <label for="createdAt">작성일</label>
        <input type="text" id="createdAt" name="createdAt" class="form-control" value="작성일"
               th:value="${#temporals.format(post.createdAt, 'MM-dd HH:mm:ss')}" readonly>
    </div>
    <div>
        <label for="content">내용</label>
        <input type="text" id="content" name="content" class="form-control" value="내용" th:value="${post.content}"
               readonly>
    </div>
    <div>
        <div>사진</div>
        <img th:if="${post.getStoreFilename()}" th:src="|/images/${post.getStoreFilename()}|" width="500" height="500" />
    </div>

    <hr class="my-4">

    <form th:action="@{/posts/{id}/comment/write/(id=${post.id})}" th:method="post">

    <div class="card mb-2 mt-5">
        <div class="card-header bg-light">
            <i class="fa fa-comment fa"></i> 댓글
        </div>

        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <textarea class="form-control" type="text" id="comment" name="comment" rows="1"></textarea>
                    <button type="submit" class="btn btn-dark mt-3">등록</button>
                </li>
            </ul>
        </div>
    </div>

    </form>

    <div class="card">
        <div class="card-header">댓글</div>

        <ul id="reply--box" class="list-group">

        <tr th:each="comments : ${post.comments}">
            <li id="reply--1" class="list-group-item d-flex justify-content-between">
                <div class="d-flex">
                    <td><a th:text="${comments.id}">댓글 번호</a></td>

                    <td><a th:text="${comments.comment}">정말 멋진 내용이에요</a></td>

                    <div class="text-monospace" th:text="${comments.member.nickname}">작성자 : 좋은생각</div>

                    <td><a th:text="${comments.createdDate}">날짜</a></td>

                    <button class="badge btn-warning">수정</button><span>  </span>
                    <button class="badge btn-danger">삭제</button>
                </div>
            </li>
        </tr>

        </ul>
    </div>

    <br/>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editPost.html'"
                    th:onclick="|location.href='@{/posts/edit/{postId}(postId=${post.getId})}'|"
                    type="button">글 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='posts.html'"
                    th:onclick="|location.href='@{/posts}'|"
                    type="button">목록으로
            </button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>