<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>자유 게시판</h2>
        <div sec:authorize="isAuthenticated()" >
            <a th:text="'환영합니다! '+${nickname}+'님'" ></a>
        </div>
    </div>

    <div class="row">
        <div sec:authorize="!isAuthenticated()" class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='loginForm.html'"
                    th:onclick="|location.href='@{/login}'|"
                    type="button">로그인</button>
        </div>
        <div sec:authorize="!isAuthenticated()" class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='signupForm.html'"
                    th:onclick="|location.href='@{/signup}'|"
                    type="button">회원가입</button>
        </div>
        <div sec:authorize="isAuthenticated()" class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='logout.html'"
                    th:onclick="|location.href='@{/logout}'|"
                    type="button">로그아웃</button>
        </div>
        <div sec:authorize="isAuthenticated()" class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addPost.html'"
                    th:onclick="|location.href='@{/posts/add}'|"
                    type="button">새 글 작성</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.posts.id}">글 번호</th>
                <th th:text="#{label.posts.author}">글쓴이</th>
                <th th:text="#{label.posts.title}">제목</th>
                <th th:text="#{label.posts.time}">날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a href="posts/post.html" th:href="@{/posts/{id}(id=${post.getId})}" th:text="${post.getId}">글 번호</a></td>
                <td><a href="posts/post.html" th:href="@{/member/{id}(id=${post.getMember().getId()})}" th:text="${post.member.getNickname()}">작성자</a></td>
                <td><a href="posts/post.html" th:href="@{|/posts/${post.getId}|}" th:text="${post.title}">제목</a></td>
                <td th:text="${#temporals.format(post.createdAt, 'MM-dd HH:mm:ss')}">오늘</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>